@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/CormorantGaramond-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Cormorant LightItalic';
    src: url('../fonts/CormorantGaramond-LightItalic.ttf');
    font-weight: lighter;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

h1, h2, h3, p, ul, li, a, img, body {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #181818;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
body {
    background-color: #FFFAF3;
    font-family: 'Raleway', serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
}
.header {
    margin-top: 40px;
}
.top__menu {
    display: flex;
    width: 81%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.navbar__link_logo:hover {
    text-decoration: none;
    cursor: pointer;
}
.navbar__list {
    display: flex;
    font-size: 18px;
    width: 44%;
    justify-content: flex-start;
    gap: 61px;
}

.phone {
    font-size: 18px;
    margin-right: 16px;
}

.btn__reg {
    text-transform: uppercase;
    font-size: 18px;
    border: 1px solid #000000;
    padding: 13px 20px 11px 25px;
    background-color: #FFFAF3;
}

.btn__reg:hover {
    cursor: pointer;
    background-color: #D4DCB2;
    transition: 0.5s;
}


/* -----------------------------------Main------------------------------ */
.main {
    width: 81%;
    margin: auto;
}

.wrap__banner {
    margin-top: 79px;
    position: relative;
}

.main__banner_title {
    font-size: 18px;
}

.main__banner_text {
    font-family: 'Cormorant LightItalic';
    font-size: 80px;
    font-weight: lighter;
    margin-top: 12px;
    width: 71%;
    line-height: 87px;
}

.main__banner_text-upper {
    font-style: normal;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond';
    font-size: 65px;
}

.main__banner__reg {
    display: flex;
    margin-top: 77px;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}

.main__banner__reg_price {
    text-decoration: underline;
}

.main__banner__panel {
    display: flex;
    justify-content: space-between;
    width: 46%;
    height: 160px;
    margin-top: 115px;
}

.main__banner_photo {
    position: absolute;
    height: 641px;
    width: 623px;
    top: 102px;
    right: -24px;
}

.main__banner__stat {
    display: flex;
    margin: 183px auto 0px auto;
    justify-content: space-between;
    width: 74%;
    gap: 103px;
}

.main__banner__stat_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 27px;
}

.main__banner_stat_numb {
    font-family: 'Cormorant Garamond';
    font-size: 72px;
    color: #181818;
}

.main__banner_stat_text {
    line-height: 27px;
    margin-top: 17px;
}

/* --------------------------Slider-banner------------------------ */
.wrap__promo {
    margin-top: 189px;
}
.promo_slider input{
    display: none;
}

.slider-input:checked ~ .slider {
    max-width: 100%;
}

.slider {
    position: relative;
    text-align: center;
    top: 10px;
    margin: 0 auto;
}

.overflow{ 
	width: 100%;
	overflow: hidden;
}

.slides-box {
    width: 200%;
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.slide-image-box {
    width: 50%;
    float: left;
}

.slide-wrp {
    background-image: url('../img/photo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 411px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.slide-wrp-img {
    background-image: url('../img/promo-desk-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.slide {
    width: 43%;
    height: 275px;
    margin-right: 71px;
    backdrop-filter: blur(10px);
    padding: 40px 45px 25px 50px;;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 6px;
}

.slide-white {
    height: 287px;
    margin-right: 57px;
    align-items: center;
    text-align: center;
    padding: 70px 30px 25px 30px;
    gap: 0;
}

.slide-title {
    font-family: 'Cormorant Garamond';
    font-size: 48px;
    margin-bottom: 24px;
    font-weight: lighter;
}

.slide-title-white {
    line-height: 53px;
    color: #ffffff;
    margin-bottom: 17px;
}

.slide-text {
    line-height: 27px;
}

.slider-link {
    text-decoration: underline;
}

.slider-link-white {
    color: #ffffff;
}

.slider-link:hover {
    cursor: pointer;
}

#switch1:checked ~ .slides .slides-box{
	margin-left: 0;
}

#switch2:checked ~ .slides .slides-box{
	margin-left: -100%;
}

.slider-active {
    margin-top: 43px;
}

.slider-active label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    user-select: none;
    opacity: 0.5;
    padding: 2px;
}

.slider-active label::before {
    content: '';
    display: inline-block;
    /* position: absolute; */
    width: 13px;
    height: 13px;
    background-image: url('../svg/Ellipse41.svg');
}

#switch1:checked ~ .slider-active label:nth-child(1)::before,
#switch2:checked ~ .slider-active label:nth-child(2)::before {
    background-image: url("../svg/Ellipse42.svg");
}

.wrap-services {
    margin-bottom: 100px;
}

.services-title {
    font-family: 'Cormorant Garamond';
    font-weight: lighter;
    font-size: 72px;
    margin: 226px 0px 89px 0px;
    text-align: center;
}

.services-tabs {
    position: relative;
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.tab-radio {
    display: none;
}

.tab, .tab-title {
    display: inline-block;
}

.tab-title {
    font-family: 'Cormorant Garamond';
    font-weight: lighter;
    font-size: 36px;
    text-transform: capitalize;
    margin-right: 90px;
    padding-right: 18px;
}

.tab-title:hover {
    cursor: pointer;
}

.tab-radio:checked + .tab-title {
    position: relative;
    border-bottom: 2px solid #9DA57C;
    padding-bottom: 18px;
}

.tab-content {
    position: absolute;
    display: none;
    left: 0;
    width: 100%;
    margin-top: 10px;
}

.tab-radio:checked ~ .tab-content {
    display: block;
}

.content-grid {
    display: grid;
    grid-template-columns: 2fr, 1fr;
    width: 59%;
    margin-top: 19px;
    margin-bottom: 61px;
}

.content-grid-row {
    grid-column: 1;
    margin-bottom: 10px;
}

.content-grid-col {
    grid-column: 2;
}

.tab-img-top {
    position: absolute;
    top: 30px;
    right: 106px;
    z-index: 2;
    width: 31%;
}

.tab-img {
    position: absolute;
    bottom: 227px;
    right: 0;
    z-index: 1;
    width: 18%;
}

.tab-img-ext {
    bottom: 114px;
}

.tab-img-foot-top {
    top: -42px;
    right: 29px;
    width: 44%;
}

.tab-img-foot {
    bottom: 79px;
}

.tab-img-brows-top {
    top: -41px;
    right: 25px;
    width: 44%;
}

.tab-img-brows {
    bottom: 190px;
    right: 27px;
}